{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "css/register-login-forms.css" %}"> 
{% endblock %}

{% block content %}
    <div class="form-group  p-2 m-4">
        <form method = "POST">
            <h1 class="pb-4 ps-2 d-flex justify-content-center">Zaloguj się</h1>
            {% csrf_token %}

            <div class="row m-2 p-2">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Login">
                </div>
            </div>

            <div class="row m-2 p-2">
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Hasło">
                </div>
            </div>

            <div class="row m-2 p-2">
                <div class="form-group d-flex justify-content-center">
                    <button class="btn btn-large btn-outline-secondary w-50">Zaloguj się!</button> 
                </div>  
            </div>   
        </form>
    </div>
{% endblock  %}