{% extends "base.html" %}
{% load static %}

{% block  title %}
Strona główna
{% endblock  %}

{% block css_files %}
{% comment %} <link rel="stylesheet" href="{% static "studio/css/index.css" %}"> {% endcomment %}
{% endblock  %}

{% block content %}

<div class="border border-4 border-dark p-4 justify-content-center">

  <h1>AKTUALNOŚCI</h1>
  <hr>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptas similique et maiores
       aliquam suscipit, quia ipsa assumenda, quaerat eius ut, error a nobis! Et fugit maiores est odit natus.</p>

</div> 

{% endblock  %}